<div class="logo">
    <a href="https://www.creative-tim.com" class="simple-text">
        <div class="logo-img">
            <img src="../../../../favicon.ico"/>
        </div>
        Pick A Dove
    </a>
</div>
<div class="sidebar-wrapper">
  <div *ngIf="isMobileMenu()">
    <form class="navbar_a_a-form">
      <span class="bmd-form-group">
      </span>
    </form>
    <ul class="nav navbar_a_a-nav nav-mobile-menu">
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">
                <i class="material-icons">person</i>
                <p>
                    <span class="d-lg-none d-md-block">Account</span>
                </p>
            </a>
        </li>
    </ul>
  </div>
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
        <li class="nav-item logout" (click)="logout()">
            <a class="nav-link">
                <i class="fa fa-sign-out"></i>
                <p>Logout</p>
            </a>
        </li>
    </ul>
</div>
