<div class="service">
    <p class="title">Photo Gallery</p>
</div>
<div>
    <button mat-button class="upload_btn" (click)="selectImage()">Upload</button>
    <input #file type="file" accept='image/*' (change)="preview(file.files)" class="inputFile"/>
</div>
<div class="row gallery">
    <div class="col-md-3 col-sm-6 col-xs-6 gallery-item" *ngFor="let image of galleries" id={{image.id}}>
        <div class="img-card text-center">
            <div class="avatar" [ngStyle]="{'background-image': 'url(' + image.imgurl + ')'}">
                <img *ngIf="image.islock" src="../../../../../assets/img/lock.png" class="lock">
                <img src="../../../../../assets/img/check.png" class="check">
            </div>
            <div class="d-flex justify-content-end m-2">
                <img class="p-1 review" src="../../../../../assets/img/top.png">
                <p>1</p>
                <img class="p-1 review" src="../../../../../assets/img/showed.png">
                <p>5</p>
            </div>
        </div>
        <div class="container">
            <mat-checkbox [(ngModel)]="image.islock" class="lock-check" (change)="onLock({id : image.id_gallery, val: image.islock})">LOCK</mat-checkbox>
            <p class="delete-btn pull-right" (click)="deleteIamge(image.id_gallery)">DELET</p>
        </div>
    </div>
</div>