<div class="row edit_container">
    <div class="col-lg-4 col-sm-12 col-xs-12">
        <app-preview-avatar></app-preview-avatar>
        <app-preview-work-hour></app-preview-work-hour>
    </div>
    <div class="col-lg-8 col-sm-12 col-xs-12">
        <app-preview-persional-info></app-preview-persional-info>
    </div>
    <app-preview-profile-details class="container"></app-preview-profile-details>
    <app-preview-image-gallery class="container"></app-preview-image-gallery>
    <app-preview-comments class="container"></app-preview-comments>
</div>