<div class="container">
    <div class="p-3" *ngFor="let comment of comments">
        <img class="avatar" src="../../../../../../assets/img/persion.png">
        <div class="chat-container">
            <p class="nick-name">{{comment.firstname + comment.lastname}}</p>
            <p class="time">{{comment.created_at | date: 'dd/MM/yyyy'}}</p>
            <p class="chat-content">{{comment.comment}}</p>
        </div>
        <div class="p-3 replies" *ngFor="let comment_reply of comment.replies">
            <img class="avatar" src="../../../../../../assets/img/persion.png">
            <div class="chat-container">
                <p class="nick-name">{{comment_reply.firstname + comment_reply.lastname}}</p>
                <p class="time">{{comment_reply.created_at | date: 'dd/MM/yyyy'}}</p>
                <p class="chat-content">{{comment_reply.comment}}</p>
            </div>
        </div>
    </div>
    <div class="row conatainer p-5">
        <div class="col-md-1">
            <img class="avatar" src="../../../../../../assets/img/persion.png">
        </div>
        <div class="col-md-10">
            <form [formGroup]="submitForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <input type="text" formControlName="nickName" placeholder="Nick Name*" class="form-control nickname-input" [ngClass]="{ 'is-invalid': submit && f.nickName.errors }" />
                    <div *ngIf="submit && f.nickName.errors" class="invalid-feedback">
                        <div *ngIf="f.nickName.errors.required">Nick Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <textarea rows="4" type="text" formControlName="content" placeholder="content*" class="form-control chat-contnet-input" [ngClass]="{ 'is-invalid': submit && f.content.errors }"></textarea>
                    <div *ngIf="submit && f.content.errors" class="invalid-feedback">
                        <div *ngIf="f.content.errors.required">Comment is required</div>
                    </div>
                </div>
                <emoji-mart [style]="{ width: '100%'}" (emojiClick)="addEmoji($event)"></emoji-mart>
                <div class="form-group text-right">
                    <button  mat-button mat-raised-button class="submit_btn">Submit</button>
                </div>
            </form> 
        </div>
    </div>
</div>