
<div class="pd_container">
    <div class="space"></div>
    <div class="status">
      <img class="logo" src="../assets/img/logo.png">
    </div>
    <div class="spinner-grow text-danger center" role="status" *ngIf="!verified">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="box_container" *ngIf="verified">
        <div class="sign-container container text-center">
                <div *ngIf="error" class="alert alert-danger">
                        <div>{{error}}</div>
                    </div>
                    <div *ngIf="success" class="alert alert-success">
                       <div>{{success}}</div>
                    </div>
             <div class="nav-content">
                 <div>

                     <div class="signup_title">Change Your Password</div>
                     <form [formGroup]="registerForm" (ngSubmit)="onChangePassword()">
                       <div>
                           <div class="form-group m-3">
                               <input type="password" formControlName="password" placeholder="Password*" class="form-control" [ngClass]="{ 'is-invalid': signup && f_up.password.errors }" />
                               <div *ngIf="signup && f_up.password.errors" class="invalid-feedback">
                                   <div *ngIf="f_up.password.errors.required">Password is required</div>
                                   <div *ngIf="f_up.password.errors.minlength">Password must be at least 6 characters</div>
                               </div>
                           </div>
                           <div class="form-group m-3">
                               <input type="password" formControlName="confirmPassword" placeholder="Confirm Password*" class="form-control" [ngClass]="{ 'is-invalid': signup && f_up.confirmPassword.errors }" />
                               <div *ngIf="signup && f_up.confirmPassword.errors" class="invalid-feedback">
                                   <div *ngIf="f_up.confirmPassword.errors.required">Confirm Password is required</div>
                                   <div *ngIf="f_up.confirmPassword.errors.mustMatch">Passwords must match</div>
                               </div>
                           </div>
                       </div>
                       <div class="form-group">
                           <button mat-button mat-raised-button class="register_btn">Register</button>
                       </div>
                     </form>
                 </div>
             </div>
         </div>
                
    </div>
</div>