.edit_container{
    padding: 40px 30px;
}
.save_btn{
    color: #fff;
    background-color: #f84f73;
    border-color: #f84f73;
    width: 160px;
    height: 40px;
    font-family: 'Myriad Pro_bold';
    font-size: 12pt;
    border-radius: 35px 35px;
    margin-right: 15px;
}
.save_btn:hover{
    background-color: #c74964;
    border-color: #c74964;
}