<div class="live">
    <div class="testimonial row">
        <div class="col-md-4">
            <p class="header">Bodys Testimonial</p>
            <div class="container">
                <div class="row">
                    <div class="col-sm1 plus_button rounded-circle"><i class="fa fa-plus-circle"></i></div> 
                    <p class="col-sm1 blue_link">Add New</p>
                    <p class="col-sm1 devide">|</p>
                    <p class="col-sm1 blue_link">Search New</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <button *ngIf="!live"  mat-button mat-raised-button class="live_btn" (click)="setLive()">Go Live</button>
        </div>
        <div class="col-md-4 right">
            <p class="header">Bodys Testimonial</p>
            <div class="container">
                <div class="row pull-right">
                    <div class="col-sm1 plus_button rounded-circle"><i class="fa fa-plus-circle"></i></div> 
                    <p class="col-sm1 blue_link">Add New</p>
                    <p class="col-sm1 devide">|</p>
                    <p class="col-sm1 blue_link">Search New</p>
                </div>
            </div>
        </div>
    </div>
</div>
