.name{
    text-transform: uppercase;
    font-family: 'Myriad Pro_bold';
    font-size: 15pt;
    margin-top: 20px;
}
.status{
    text-transform: lowercase;
    font-family: 'Myriad Pro_bold';
    font-size: 10pt;
    margin-top: 20px;
    margin-top: -15px;
    color: #39c740
}
.marker-i{
    font-size: 30pt;
    margin-top: 20px;
    margin-right: 5px;
    color: #e02027
}
.chat-i{
    font-size: 30pt;
    margin-top: 44px;
    margin-right: 5px;
    color: #0391fd;
    cursor: pointer;
}
.chat-i:hover{
    color: #0575ca;
}
.marker-c{
    text-transform: lowercase;
    font-family: 'Myriad Pro_bold';
    font-size: 12pt;
    text-transform: capitalize;
    margin-top: -25px;
}
.chat-l{
    text-transform: lowercase;
    font-family: 'Myriad Pro_bold';
    font-size: 12pt;
    margin-top: 20px;
    color: #0391fd;
    margin-top: -5px;
    cursor: pointer;
}
.container-ps{
    width: 70%;
}
.damage-l{
    text-transform: capitalize;
    font-family: 'Myriad Pro';
    font-size: 12pt;
    float: left;
    margin-left: 20px

}
.damage-c{
    text-transform: capitalize;
    font-family: 'Myriad Pro_bold';
    font-size: 13pt;
    float: right;
}
.contact-info{
    text-transform: uppercase;
    font-family: 'Myriad Pro_bold';
    font-size: 15pt;
    margin-top: 20px;
}
.file-container{
    width: 100%;
}
.phone-i{
    font-size: 30pt;
    margin-top: 40px;
    margin-right: 5px;
    color: #dd292b;
    cursor: pointer;
}

.others-contact{
    font-family: 'Myriad Pro_bold';
    font-size: 14pt;    
    padding: 10px;
}
.others-contact-c{
    margin-left: -30px;
    margin-top: -25px;
}
.othercontact-i{
    font-size: 25pt;
    color: #249042;
    margin: 8px 12px;
}
.phone{
    margin-left: 10px;
}

.underline{
    font-size: 10pt;
    color: #95a1f8;
    cursor: pointer;
    border-bottom: 1px solid #95a1f8;
}
.underline:hover{
    color: #249042
}