.title{
    font-family: 'Myriad Pro_bold';
    font-size: 18px;
    text-transform: capitalize;
    color: #f84f73;
}
.profile-c{
    padding: 20px 50px;
    position: relative;
}
.avatar{
    width: 190px;
    height: 190px;
    cursor: pointer;
}
.avatar:hover{
  border: 1px solid #f84f73;
}
.name{
    font-family: 'Myriad Pro_bold';
    font-size: 15px;
    text-transform: capitalize;
}
.marker-c{
    text-transform: lowercase;
    font-family: 'Myriad Pro_bold';
    font-size: 12pt;
    text-transform: capitalize;
    margin-top: -25px;
    color: #868687;
}
.marker-i{
    font-size: 20pt;
    margin-top: 20px;
    margin-right: 5px;
    color: #e02027
}
.status-c{
    text-transform: lowercase;
    font-family: 'Myriad Pro';
    font-size: 10pt;
    text-transform: capitalize;
    margin-top: -28px;
    margin-left: 5px;
    color: #00a651;
}
.status-i{
    font-size: 10pt;
    margin-top: 20px;
    margin-right: 5px;
    color: #00a651
}
.heart-c{
    font-family: 'Myriad Pro';
    font-size: 12pt;
    text-transform: capitalize;
    margin-top: -28px;
}
.heart-i{
    font-size: 20px;
    margin-top: 20px;
    margin-right: 5px;
    color: #d74d47
}
.heart-broken-c{
    text-transform: lowercase;
    font-family: 'Myriad Pro';
    font-size: 12pt;
    text-transform: capitalize;
    margin-top: -28px;
    margin-left: 20px
}
.heart-broken-i{
    font-size: 20px;
    margin-top: 20px;
    margin-right: 5px;
    color: #d74d47
}
.contact-no{
    font-family: 'Myriad Pro';
    font-size: 12pt;
    text-transform: capitalize;
    margin-top: 20px;
    color: #868687;
}
.contact-number{
    font-family: 'Myriad Pro_bold';
    font-size: 12pt;
    text-transform: capitalize;
    margin-top: -10px;
}
.reveal-number{
    font-family: 'Myriad Pro';
    font-size: 11pt;
    text-transform: capitalize;
    margin-top: -10px;
    color: #d74d47
}
.comment{
    padding: 3px;
    background-color: #f1f1f1;
    width: 100%;
    padding: 10px 30px 5px 30px;
    margin-top: -25px;
    margin-bottom: 10px;
    border-radius: 45px 45px;
}
.comment-name{
    font-family: 'Myriad Pro_bold';
    font-size: 10pt;
    text-transform: capitalize;
}
.comment-time{
    font-family: 'Myriad Pro';
    font-size: 6pt;
    text-transform: capitalize;
    margin-top: -20px
}
.comment-content{
    font-family: 'Myriad Pro';
    font-size: 10pt;
    text-transform: capitalize;
    margin-top: -15px;
    margin-bottom: 5px;
}
/* crausel */
.gallery-item{
    width: 110px;
    height: 110px;
    margin: 10px;
}
.left{
    left: 30px;
    top: 60px;
    font-size: 13pt;
    color: #f84f73;
    cursor: pointer;
    position: absolute;
}
.right{
    right: 30px;
    top: 60px;
    color: #f84f73;
    cursor: pointer;
    font-size: 13pt;
    position: absolute;
}
.arrow:hover{
    color: #d74d47
}

.slider{
    position: relative;
    width: 100%;
    height: 130px;
}
@media (max-width: 940px){
    .slider{
        margin-bottom: 80px;
    }
}
.verified{
    position: absolute;
    right:-40px;
    bottom: 33px
}
.featured{
    position: absolute;
    right:-40px;
    bottom: 0px
}

::ng-deep.carousel-indicators{
    display: none;
}
.carousel_profile{
    width: 85%;
}