<nav class="navbar_a navbar_a-expand-lg navbar_a-transparent  navbar_a-absolute fixed-top">
    <div class="container-fluid">
        <button mat-raised-button class="navbar_a-toggler navbar-toggler" type="button" (click)="sidebarToggle()">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar m-2"></span>
            <span class="navbar-toggler-icon icon-bar m-2"></span>
            <span class="navbar-toggler-icon icon-bar m-2"></span>
        </button>
    </div>
</nav>