.title{
    font-family: 'Myriad Pro_bold';
    font-size: 12pt;
    margin-top: 20px;
}
.to{
    font-family: 'Myriad Pro_bold';
    font-size: 11pt;
    margin: 0px 5px;
}
.time{
    font-family: 'Myriad Pro';
    font-size: 11pt;
    margin: 0px 2px;
}